*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}
body{
    background-color: #1f242d;

}
a{
    color: #fff;
    text-decoration: none;
}
.navbar{
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
 .logo{
    font-size: 30px;
    font-weight: 700;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    margin-left: 35px;
}
ul li a{
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}
ul li:hover a,
ul li.active a{
    color:#7cf03d;
    text-decoration: underline;
    
}
.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
}
.home-info h1{
    font-size: 55px;
}
.home-info h2{
    font-size: 32px;
    margin-top: -10px;
}
.home-info p{
    font-size: 16px;
    margin: 10px 0 25px;
}
.button{
    display: flex;
    align-items: center;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    background-color: #7cf03d;
    border: 2px solid;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
}
.btn:hover{
    background-color: transparent;
    color: #7cf03d;
    box-shadow: none;
}
.sci a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    font-size: 20px;
    color: #7cf03d;
    margin: 0 8px;
    transition: .5c;
}
.sci a:hover{
    background-color: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d;
}
